body{
    background: #ffffff;
    padding-left: 5px;
    font-size: x-large;
}
#frm{
    border: solid #053742 1px;
    width:25%;
    color: #053742;
    border-radius: 2px;
    margin: 120px auto;
    background: #f1fafc;
    padding: 50px;
    font-size: large;
}
#btn{
    color: #fff;
    background: #0197d1;
    padding: 7px;
    margin-left: 70%;
    font-size: large;
}  

table {
    border: solid #053742 1px;
    margin: 120px auto;
    background: #f1fafc;
    border-collapse: separate;
    border-spacing: 50px 0;
    font-size: large;
  }
  
  td {
    padding: 10px 0;
  }

  .header {
    /* padding: 60px; */
    border: solid #053742 1px;
    text-align: center;
    background: #f1fafc;
    color: #053742;
    font-size: 30px;
  }

  iframe:focus {
    outline: none;
  }
  
  iframe[seamless] {
    display: block;
  }
#abc{
  padding: 1px;
  font-size: large;
}

/* font-size: x-large; */